@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Test"] = "Natan o Cara!";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@ViewData["Test"]</p>
<h2>@ViewData["Test"]</h2>
